<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>Spidy Home</title>

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="server-message">
        <center>
          <h1 id="welcome-messageg">Welcome <%= user %></h1>
        </center>
      </div>
    </div>
  </body>
</html>
